// variables
@White: hsl(0, 0%, 100%);
@Light_gray: hsl(212, 45%, 89%);
@Grayish_blue: hsl(220, 15%, 55%);
@Dark_blue: hsl(218, 44%, 22%);

html {
    font-family: "Outfit", sans-serif;

    body {


        display: block;

        main {
            max-width: 1440px;
            padding: 211px 0px;
            display: block;
            background-color: @Light_gray;
            margin: auto;
            margin-top: auto;

            .card {
                &>* {
                    &:not(:last-child) {
                        margin-bottom: 17px !important;
                    }
                }




                max-width: 325px;
                background-color:@White;
                padding-top: 12px;
                padding-bottom: 50px;
                color: @Dark_blue;
                margin: auto;
                border-radius: 17px;

                &__title {
                    font-size: 22px;
                    max-width: 80%;
                    text-align: center;
                    font-weight: 700;
                    margin: auto;
                }

                &__image-box {
                    overflow: hidden;
                    border-radius: 8px;
                    margin: auto;


                    max-width: 290px;
                    height: auto;

                    &--image {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }

                &__paragraph {
                    font-size: 15px;
                    max-width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }

}